In [1]:
import pybaseball as pyb
import pandas as pd
from datetime import datetime

In [3]:
def load_key():
    return(pd.read_csv("https://mphitchman.com/DMB/csv/keyID.csv"))

def load_hit():
    df = pyb.fg_batting_data(start_season=2024,qual=10)
    df = df.rename(columns={"IDfg": "key_FG","Team":"MLB"})
    df = df.merge(keyID[keyID['type']=="B"][['type','key_FG','RJML','SSBL','CJPL']],on="key_FG",how='left').set_index('Name')
    return(df)

In [5]:
keyID = load_key()

In [7]:
hit = load_hit()

In [11]:
hit[['HR']].head(5)

                  HR
Name
Bobby Witt Jr.    19
Aaron Judge       38
Juan Soto         25
Gunnar Henderson  29
Jarren Duran      14

In [15]:
data = pyb.batting_stats(2024, qual=10)

In [21]:
data[data['Name']=='Vinnie Pasquantino'][['Name','HR']]

                   Name  HR
137  Vinnie Pasquantino  13