In [2]:
import pandas as pd

In [4]:
keyID = pd.read_csv("csv/keyID.csv")

In [6]:
keyID.head(5)

,Name,key_DMB,key_FG,key_MLB,key_bbref,type,RJML,CJPL,SSBL
0,Miguel Cabrera,26367,1744,408234,cabremi01,B,avail,GDJ,WC
1,Adam Wainwright,26605,2233,425794,wainwad01,P,GH,avail,avail
2,Zack Greinke,26510,1943,425844,greinza01,P,HAL,JFS,ECB
3,Justin Verlander,26889,8700,434378,verlaju01,P,SV,RAH,CW
4,Nelson Cruz,26747,2434,443558,cruzne02,B,avail,avail,avail

In [8]:
import pybaseball as pyb

In [64]:
def load_hit():
    df = pyb.fg_batting_data(start_season=2024,qual=10)
    df = df.rename(columns={"IDfg": "key_FG","Team":"MLB"})
    df = df.merge(keyID[keyID['type']=="B"][['type','key_FG','RJML','SSBL','CJPL']],on="key_FG",how='left').set_index('Name')
    return(df)

def load_pit():
    pf = pyb.pitching_stats_bref() #baseball reference scrape to get stats needed for ops and rc
    pf = pf.rename(columns={"mlbID": "key_MLB"})
    pf["key_MLB"] = pd.to_numeric(pf["key_MLB"])
    df = pyb.fg_pitching_data(start_season=2024,qual=10)
    df = df.rename(columns={"IDfg": "key_FG","Team":"MLB"})
    df = df.merge(keyID[keyID['type']=="P"][['type','key_FG','key_MLB','RJML','SSBL','CJPL']],on="key_FG",how='left')
    df = df.merge(pf[['BF','AB','2B','3B','SF','GDP','SB','CS','key_MLB']],on='key_MLB',how='left')
    return(df.set_index('Name'))

In [24]:
hit24 = load_hit()
pit24 = load_pit()

In [154]:
hit_new = hit24[hit24.RJML.isna()]
hit_new = hit_new[['key_FG','PA','WAR','type','RJML','SSBL','CJPL']]
hit_new['type']="B"
pit_new = pit24[pit24.RJML.isna()]
pit_new = pit_new[['key_FG','GS','TBF','WAR','type','RJML','SSBL','CJPL']]
#pit_new = pit_new.rename(columns={'TBF': 'PA'})
pit_new['type']="P"

In [158]:
hit_new.reset_index
pit_new.reset_index

<bound method DataFrame.reset_index of                  key_FG   PA  WAR type RJML SSBL CJPL
Name
Jackson Merrill   29490  376  2.4    B  NaN  NaN  NaN
Max Schuemann     24488  280  1.7    B  NaN  NaN  NaN
Jackson Chourio   28806  321  1.7    B  NaN  NaN  NaN
Jose Iglesias     10231  109  1.4    B  NaN  NaN  NaN
Wenceel Perez     22857  326  1.1    B  NaN  NaN  NaN
...                 ...  ...  ...  ...  ...  ...  ...
Keston Hiura      20003   27 -0.5    B  NaN  NaN  NaN
Jordan Beck       31431   81 -0.6    B  NaN  NaN  NaN
Addison Barger    24598   64 -0.7    B  NaN  NaN  NaN
Niko Goodrum      12092   33 -0.8    B  NaN  NaN  NaN
Victor Scott      31349   65 -0.9    B  NaN  NaN  NaN

[67 rows x 7 columns]>

In [166]:
keyID_new = pd.concat([hit_new,pit_new])

In [172]:
hit24.columns

True

In [174]:
# pitching stats from bbref to calculate OPS
pf = pyb.pitching_stats_bref()
pf = pf.rename(columns={"mlbID": "key_MLB","Name": "Name_bbref"})
pf["key_MLB"] = pd.to_numeric(pf["key_MLB"])

In [178]:
pf.columns

Index(['Name_bbref', 'Age', '#days', 'Lev', 'Tm', 'G', 'GS', 'W', 'L', 'SV',
       'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B', '3B',
       'IBB', 'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit', 'Str', 'StL', 'StS',
       'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9', 'SO/W', 'key_MLB'],
      dtype='object')

In [186]:
names = keyID_new.index.to_list()

In [250]:
keys = pyb.playerid_lookup(nm[1],nm[0])

['Jackson Merrill',
 'Max Schuemann',
 'Jackson Chourio',
 'Jose Iglesias',
 'Wenceel Perez',
 'Colt Keith',
 'Otto Lopez',
 'Rece Hinds',
 'Andy Pages',
 'Wyatt Langford',
 'Rafael Marchan',
 'Jhonkensy Noel',
 'Kyle McCann',
 'Daniel Schneemann',
 'Justyn-Henry Malloy',
 'David Bote',
 'Angel Martinez',
 'Benjamin Rice',
 'Joey Loperfido',
 'Brooks Lee',
 'Ryan Bliss',
 'Connor Norby',
 'Austin Shenton',
 'Jung Hoo Lee',
 'Oliver Dunn',
 'Ryan Vilade',
 'Blaze Alexander',
 'Tyler Black',
 'Armando Alvarez',
 'Pedro Pages',
 'Leo Jimenez',
 'Tyler Locklear',
 'Jacob Hurtubise',
 'Jorge Barrosa',
 'Ali Sanchez',
 'Jamie Westbrook',
 'Daz Cameron',
 'Miguel Sano',
 'Jonatan Clase',
 'Jakson Reetz',
 'Trenton Brooks',
 'Nasim Nunez',
 'Brett Harris',
 'Johnathan Rodriguez',
 'Darell Hernaiz',
 'Zach DeLoach',
 'Justin Foscue',
 'Levi Jordan',
 'Riley Baldwin',
 'Blake Dunn',
 'Ignacio Alvarez',
 'LaVictor Lipscomb',
 'Graham Pauley',
 'Davis Wendzel',
 'Jackson Holliday',
 'Austin Martin',
 'Kyle Manzardo',
 'Bryan Ramos',
 'Alex Jackson',
 'Adael Amador',
 'Aaron Schunk',
 'James Wood',
 'Keston Hiura',
 'Jordan Beck',
 'Addison Barger',
 'Niko Goodrum',
 'Victor Scott',
 'Erick Fedde',
 'Shota Imanaga',
 'Yoshinobu Yamamoto',
 'Paul Skenes',
 'Cade Smith',
 'Jared Jones',
 'Justin Slaten',
 'Mitchell Parker',
 'Ben Brown',
 'Albert Suarez',
 'Tobias Myers',
 'Spencer Arrighetti',
 'Dedniel Nunez',
 'Yariel Rodriguez',
 'Jonathan Cannon',
 'Mitch Spence',
 'Spencer Schwellenbach',
 'Robert Gasser',
 'Blake Treinen',
 'Hunter Strickland',
 'Joe Ross',
 'Cam Booser',
 'Jared Koenig',
 'Anthony Bender',
 'Yuki Matsui',
 'Ryan Fernandez',
 'Justin Wilson',
 'Grant Holmes',
 'Hans Crouse',
 'Andrew Thorpe',
 'Burch Smith',
 'Porter Hodge',
 'Christian Scott',
 'Randy Rodriguez',
 'DJ Herz',
 'Valente Bellozo',
 'Justin Anderson',
 'Cody Poteet',
 'Stephen Kolek',
 'Tyler Phillips',
 'Landon Knack',
 'Dillon Tate',
 'Enoli Paredes',
 'Chris Roycroft',
 'Kyle Tyler',
 'Tyler Ferguson',
 'Erik Miller',
 'Hayden Birdsong',
 'Bryan King',
 'Blake Walston',
 'Brendon Little',
 'Humberto Castellanos',
 'Sixto Sanchez',
 'Anthony Maldonado',
 'Yilber Diaz',
 'Anthony Molina',
 'Nick Avila',
 'Jacob Waguespack',
 'Ryan Burr',
 'Logan Allen',
 'Landen Roupp',
 'Carlos Rodriguez',
 'Cole Winn',
 'Keider Montero',
 'Justin Wrobleski',
 'Aaron Brooks',
 'Jesus Tinoco',
 'Bailey Horn',
 'Ricardo Pinto',
 'Michael Petersen',
 'Manuel Rodriguez',
 'Adam Mazur',
 'David Festa',
 'Tyler Beede',
 'Elieser Hernandez',
 'Matt Sauer',
 'J.P. Feyereisen',
 'Kai-Wei Teng',
 'Tyler Matzek',
 'Spencer Bivens',
 'Cade Povich',
 'John Bloss',
 'Daulton Jefferies',
 'Jordan Leasure',
 'Mason Black',
 'Michael Mercado',
 'Nick Nastrini',
 'Roddery Munoz']

In [196]:
nm = name.split(" ")

In [202]:
name

'Jackson Merrill'

In [216]:
x = pyb.playerid_lookup(nm[1],nm[0])
x

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,merrill,jackson,701538,merrj002,merrija01,29490,2024.0,2024.0

In [222]:
x.iloc[0,3]

'merrj002'

In [ ]:


pyb.playerid_lookup(

In [224]:
def idlookup(name):
    nm = name.split(" ")
    x = pyb.playerid_lookup(nm[1],nm[0])
    key_FG = x.iloc[0,5]
    key_MLB = x.iloc[0,2]
    key_bbref = x.iloc[0,3]
    return([key_FG,key_MLB,key_bbref])

In [254]:
nm = names[0].split(" ")
keys = pyb.playerid_lookup(nm[1],nm[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name_last         1 non-null      object
 1   name_first        1 non-null      object
 2   key_mlbam         1 non-null      int64
 3   key_retro         1 non-null      object
 4   key_bbref         1 non-null      object
 5   key_fangraphs     1 non-null      int64
 6   mlb_played_first  1 non-null      float64
 7   mlb_played_last   1 non-null      float64
dtypes: float64(2), int64(2), object(4)
memory usage: 196.0+ bytes

In [260]:
for i in range(1,len(names)):
    nm = names[i].split(" ")
    df = pyb.playerid_lookup(nm[1],nm[0])
    keys = pd.concat([keys,df])

In [262]:
keys

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,merrill,jackson,701538,merrj002,merrija01,29490,2024.0,2024.0
0,schuemann,max,680474,NaN,schuema01,-1,2024.0,2024.0
0,chourio,jackson,694192,chouj001,chourja01,28806,2024.0,2024.0
0,iglesias,jose,578428,iglej001,iglesjo01,10231,2011.0,2024.0
0,keith,colt,690993,keitc001,keithco01,27899,2024.0,2024.0
...,...,...,...,...,...,...,...,...
0,jefferies,daulton,641726,jeffd001,jeffeda01,19345,2020.0,2024.0
0,leasure,jordan,673929,leasj001,leasujo01,29950,2024.0,2024.0
0,black,mason,696131,NaN,blackma01,-1,2024.0,2024.0
0,mercado,michael,675650,NaN,mercami01,-1,2024.0,2024.0
0,nastrini,nick,680897,NaN,nastrni01,-1,2024.0,2024.0